In [1]:
import torch
import pandas as pd

In [7]:
path = '/home/jimmy/CILProject22/reports/logs/20220728-023724_prediction'
# file_path = '/home/jimmy/CILProject22/reports/logs/20220728-023724_prediction/submission_graphauto_encoder.csv'
file_path ='/home/jimmy/CILProject22/reports/logs/20220728-031550_prediction/submission_graphauto_encoder.csv'

In [8]:
df = pd.read_csv(file_path)

In [10]:
df['Id']

0               r37_c1
1               r73_c1
2              r156_c1
3              r160_c1
4              r248_c1
              ...
1176947    r9974_c1000
1176948    r9977_c1000
1176949    r9978_c1000
1176950    r9982_c1000
1176951    r9996_c1000
Name: Id, Length: 1176952, dtype: object

In [5]:
sample_path = '/home/jimmy/CILProject22/data/external/sampleSubmission.csv'

In [6]:
df1 = pd.read_csv(sample_path)
df1

                  Id  Prediction
0             r37_c1           3
1             r73_c1           3
2            r156_c1           3
3            r160_c1           3
4            r248_c1           3
...              ...         ...
1176947  r9974_c1000           3
1176948  r9977_c1000           3
1176949  r9978_c1000           3
1176950  r9982_c1000           3
1176951  r9996_c1000           3

[1176952 rows x 2 columns]

In [12]:
(df['Id'] == df1['Id']).all()

True

In [13]:
auto_encoder_path = '/home/jimmy/CILProject22/reports/logs/20220728-231237_graph_user_encoder_prediction/submission_graph_user_encoder.csv'

In [14]:
df2 = pd.read_csv(auto_encoder_path)

In [15]:
df2

                  Id  Prediction
0             r37_c1    3.420841
1             r73_c1    2.807410
2            r156_c1    3.799538
3            r160_c1    3.336291
4            r248_c1    3.492591
...              ...         ...
1176947  r9974_c1000    3.772949
1176948  r9977_c1000    3.513284
1176949  r9978_c1000    3.145696
1176950  r9982_c1000    2.929365
1176951  r9996_c1000    3.817685

[1176952 rows x 2 columns]

In [16]:
graph_attention = '/home/jimmy/CILProject22/reports/logs/20220729-135056_graph_attention_prediction/submission_graphattention_avg.csv'

In [17]:
df3 = pd.read_csv(graph_attention)

In [18]:
df3

                  Id  Prediction
0             r37_c1    3.233725
1             r73_c1    3.245326
2            r156_c1    3.742743
3            r160_c1    3.376900
4            r248_c1    3.695707
...              ...         ...
1176947  r9974_c1000    3.702335
1176948  r9977_c1000    3.451749
1176949  r9978_c1000    3.222858
1176950  r9982_c1000    3.046224
1176951  r9996_c1000    3.824102

[1176952 rows x 2 columns]